<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413277089609-eni2v7unt3cu3pvdct1l1l55vd98a4vd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413277089609-eni2v7unt3cu3pvdct1l1l55vd98a4vd</string>
	<key>API_KEY</key>
	<string>AIzaSyAWn3jTv9N08s7T3im1gd74ShG12UlEJC0</string>
	<key>GCM_SENDER_ID</key>
	<string>413277089609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-4c439</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-4c439.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413277089609:ios:e5e03ff9f491bd944a3498</string>
</dict>
</plist>